.about {
    margin: 140px auto 30px;
}

.about h1 {
    font-size: 40px;
    border-bottom: 3px solid gray;
    width: max-content;
    color: gray;
    text-align: center;
    margin: 20px auto 40px;
}

.about p {
    margin: 15px 0;
    font-size: 21px;
    text-align: center;
}