.cart {
    margin-top: 150px;
}
.cart-title {
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 5px;
    border-bottom: 3px solid teal;
    width: max-content;
    margin-bottom: 20px;
}
.cart-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.cart-items {
    width: 65%;
}
.cart-item {
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    margin-bottom: 21px;
    border-bottom: 2px solid gray;
}
.cart-item-img {
    width: 140px;
    height: 180px;
    object-fit: contain;
}
.cart-item-info {
    padding: 10px;
    width: calc(100% - 140px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}
.cart-item-info-container {
    width: 50%;
}
.cart-item-book-title {
    font-size: 21px;
    margin-bottom: 10px;
}

.cart-item-author {
    font-size: 21px;
}
.cart-item-info-handler{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.cart-item-quantity {
    font-size: 24px;
    margin-bottom: 5px;
}

.cart-item-quantity button {
    cursor: pointer;
    padding: 5px;
    font-size: 17px;
}

.cart-item-quantity button:disabled {
    cursor: not-allowed;
}

.cart-item-quantity b {
    font-size: 24px;
    margin: 0 10px;
}

.cart-item-price {
    font-size: 24px;
    text-align: center;
}

.bi-trash-fill {
    color: crimson;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 24px;
}


.cart-order-summary {
    width: 30%;
    border: 1px solid gray;
    margin: 0 10px;
}

.order-summary-title {
    font-size: 24px;
    padding: 15px 10px;
}

.order-summary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding: 10px;
    font-size: 21px;
}
.cart-items h3 {
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
    color: #e74c3c;
}

/* Media Queries */
@media(max-width: 992px) {
    .cart-item-book-title {
        font-size: 18px;
    }
    .cart-item-book-title b {
        font-size: 20px;
    }
    .cart-item-author {
        font-size: 18px;
    }
    .order-summary-title {
        font-size: 20px;
    }
    .order-summary-item {
        font-size: 18px;
    }
}

@media(max-width: 768px) {
    .cart {
        margin-top: 85px;
    }
    .cart-wrapper {
        flex-direction: column;
    }
    .cart-items {
        width: 95%;
        margin: auto;
    }
    .cart-item-book-title {
        font-size: 15px;
    }
    .cart-item-book-title b {
        font-size: 16px;
    }
    .cart-item-author {
        font-size: 15px;
    }
    .cart-item-quantity button {
        font-size: 15px;
    }
    .cart-item-quantity b {
        font-size: 20px;
    }
    .cart-item-price {
        font-size: 20px;
    }
    .cart-order-summary {
        width: 60%;
        margin: auto;
    }
    .order-summary-title {
        font-size: 18px;
    }
    .order-summary-item {
        font-size: 16px;
    }
}

@media (min-width: 330px) and (max-width: 575px) {
    .cart-item {
        flex-direction: column;
    }
    .cart-item-info {
        width: 90%;
        align-items: flex-start;
        margin-top: 15px;
    }
    .cart-item-price {
        font-size: 17px;
    }
    .cart-item-quantity b {
        font-size: 17px;
    }
    .bi-trash-fill {
        font-size: 20px;
    }
}