.contact {
    margin-top: 160px;
}
.newsletter{
    background:url(../../images/contact-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.newsletter form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 40%;
}
.newsletter-form h3 {
    font-size: 2.2rem;
    color: white;
}
textarea.newsletter-textarea,input.newsletter-input {
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    border: var(--border-hover);
}
input.newsletter-btn {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 12px;
    border-color: var(--green);
    color: var(--green);
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
}
input.newsletter-btn:hover {
    color: #fff;
    background-color: var(--green);
}

/* Media Queries */
@media(max-width: 992px) {
    .newsletter form {
        max-width: 60%;
    }
}

@media(max-width: 768px) {
    .newsletter form {
        padding: 35px;
        max-width: 75%;
    }
    .contact {
        margin-top: 80px;
    }
}

@media (min-width: 330px) and (max-width: 575px) {
    .newsletter form {
        max-width: 100%;
    }
    .newsletter-form h3 {
        font-size: 1.7rem;
    }
    textarea.newsletter-textarea, input.newsletter-input {
        font-size: 1.2rem;
        padding: 7px;
    }
    input.newsletter-btn {
        padding: 8px;
        font-size: 1.4rem;
    }
}