@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
} 
html{
    font-size: 62.5%;
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}
.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header-top {
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-bottom {
    background: var(--green);
}
.brand-title {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.add-to-cart {
    position: relative;
    font-size: 3rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.cart-notification {
    position: absolute;
    top: -7px;
    right: -12px;
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}
.search {
    position: relative;
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}
.inputSearch {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}
.search-btn {
    background-color: transparent;
    border: none;
    color: var(--black);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.inputSearch:focus{
    border: 2px solid #219150;
}
.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLink b{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}
.active-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.nav-icon{
    display: none;
}
.toggle-search {
    display: none;
}
.navLink:hover {
    background-color: var(--dark-color);
}
/* ------------------------------ */
@media(max-width:992px){
    .header-top {
        padding: 1.5rem 4%;
    }
    .add-to-cart {
        font-size: 2.5rem;
    }
    .cart-notification {
        width: 25px;
        height: 25px;
        font-size: 15px;
    }
    .navLink {
        font-size: 1.4rem;
    }
}
@media (max-width:768px) {
    .search {
        width: 35rem;
        height: 4rem;
    }
    .search-btn {
        top: 4px;
    }
    .header-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }
    .nav-icon {
        display: block;
        color: #fff;
        margin: 15px 20px;
        font-size: 2rem;
    }
    .navLink b {
        display: none;
    }
}
@media (min-width:320px) and (max-width:575px){
    .search {
        position: absolute;
        max-width: 85%;
        top: -50px;
        transform: translateX(-50%);
        left: 50%;
        transition: all 0.3s ease-in-out;
    }
    .nav-icon {
        margin: 10px 15px;
    }
    .toggle-search {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
    .toggle-search:hover{
        color: var(--green);
    }
    .active-search{
        top: 80px;
    }
}
