.footer {
    padding: 10px 30px;
    border-top: 1px solid #444;
    margin: 50px auto;
    overflow-x: hidden;
}
/* Footer Social Media */
.footer-social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #666;
    padding: 10px;
    padding-bottom: 20px;
}
.footer-social-medai-text {
    font-size: 15px;
    font-weight: bold;
    color: #444;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px;
}
.footer-social-media-icons {
    display: flex;
    align-items: center;
}

.footer-social-media-icon {
    margin: 0 15px;
    background-color: #efefef;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}

.footer-social-media-icon i {
    font-size: 32px;
}

/* Footer Links Wrapper */
.footer-links-wrapper {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-links-item {
    width: 30%;
}

.footer-links-item-title {
    font-size: 17px;
    font-weight: 700;
    width: max-content;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #666;
}
.footer-links {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.footer-link {
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    list-style: none;
    color: #444;
}

.footer-address-item {
    margin-bottom: 15px;
    font-size: 15px;
    color: #444;
}

.footer-address-item i {
    font-size: 24px;
    margin-right: 5px;
    color: #27ae60;
}
.copyright {
    text-align: center;
}
.copyright p {
    font-size: 14px;
    color: #666;
}

/* media query */
@media (max-width:992px){
    .footer-social-media-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .footer-social-media-icon i {
        font-size: 22px;
        margin: auto;
    }
    .footer-links-item-title {
        font-size: 15px;
    }
    .footer-link {
        font-size: 12px;
    }
    .footer-address-item {
        font-size: 12px;
    }
    .footer-address-item i {
        font-size: 18px;
    }
    .copyright p {
        font-size: 12px;
    }
}
@media (max-width:768px) {
    .footer-links-item {
        width: 40%;
    }
    .footer-social-medai-text {
        font-size: 11px;
        padding: 5px;
        text-align: center;
    }
}
@media (min-width:330px) and (max-width:575px) {
    .footer-links-wrapper {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .footer-links-item {
        width: 85%;
        display: flex;
        justify-content: space-between;
    }
    .footer-links-item:last-child {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .footer-social-media {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        justify-content: space-between;
    }
    .footer-social-medai-text {
        width: 40%;
    }
    .footer-social-media-icons {
        width: 60%;
        margin-left: 10px;
    }
    .footer-social-media-icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
        margin: auto 4px;
    }
}