.footer {
    padding: 10px 30px;
    background-color: #7451eb;
}

/* Footer Social Media */
.footer-social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #efefef;
    padding: 10px;
    padding-bottom: 20px;
}

.footer-social-medai-text {
    color: #efefef;
    font-size: 15px;
    font-weight: bold;
}

.footer-social-media-icons {
    display: flex;
    align-items: center;
}

.footer-social-media-icon {
    margin: 0 15px;
    background-color: #efefef;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}

.footer-social-media-icon i {
    font-size: 32px;
}

/* Footer Links Wrapper */
.footer-links-wrapper {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-links-item {
    width: 30%;
}

.footer-links-item-title {
    color: white;
    font-size: 21px;
    font-weight: 700;
    border-bottom: 3px solid white;
    width: max-content;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-links {
    padding: 5px;
}

.footer-link {
    font-size: 20px;
    color: #efefef;
    margin-bottom: 10px;
    cursor: pointer;
    list-style: none;
}

.footer-address-item {
    margin-bottom: 20px;
    font-size: 20px;
    color: #efefef;
}

.footer-address-item i {
   font-size: 27px;
   margin-right: 5px;
}

/* media query */
@media (max-width:992px){
    .footer-social-media-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .footer-social-media-icon i {
        font-size: 25px;
        margin: auto;
    }
    .footer-links-item-title {
        font-size: 18px;
    }
    .footer-link {
        font-size: 15px;
    }
    .footer-address-item {
        font-size: 15px;
    }
    .footer-address-item i {
        font-size: 22px;
    }
}
@media (max-width:768px) {
    .footer-links-item {
        width: 40%;
    }
}
@media (min-width:330px) and (max-width:575px) {
    .footer-social-media {
        flex-direction: column;
    }
    .footer-social-medai-text {
        font-size: 14px;
        margin: 14px auto;
    }
    .footer-social-media-icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .footer-social-media-icon i {
        font-size: 20px;
    }
    .footer-links-item-title {
        font-size: 14px;
        border-bottom: 2px solid white;
    }
    .footer-link {
        font-size: 12px;
    }
    .footer-address-item {
        font-size: 12px;
    }
    .footer-address-item i {
        font-size: 12px;
    }
    .footer-links-wrapper {
        padding: 10px;
    }
    .footer-links-item {
        width: 47%;
    }
}